node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
metro-cache/
babel.config.js
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/DerivedData/
*.keystore
*.jks
.DS_Store
.vscode/
*.tsbuildinfo
.env
.env.*
coverage/
dist/
build/
.firebase/
firestore.indexes.json
firestore.rules
firebase-debug.log
*.swp
*.swo
.idea/
